$black: #373838;
$blue: #8eb8ff;
$blue-light: #c1d8ff;
$red: #ff8a80;
$blue-dark: #4d8fff;
$red-dark: #dc564a;
$red-light: #ffc9c5;
$yellow-light: #fff7b3;
$yellow-dark: #f2da00;
$yellow: #fff174;
$grey-light: #f5f5f5;
$grey: #c9cdcd;
$grey-medium: #c9c9c9;
$grey-dark: #808383;
$white: #ffffff;
$teal: #a8ffea;
$teal-dark: #57eeca;
$teal-light: #d1fff4;
$orange: #f9845b;
$light-greenish-blue: #57eeca;
$orange-golden: #efa61f;
$indigo: #5e74c9;
$green: #1bb589;
$magenta: #dd6182;
$facebook: #0077b5;
$twitter: #1da1f2;
$email: #e1306c;